@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
	box-sizing: border-box;
}
body {
	font-family: "Poppins", sans-serif;
	font-size: 14px;
	margin: 0;
	padding: 0;
}
button {
	cursor: pointer;
}
button.more, button#about_button {
	border: 0;
	padding: 2% 10%;
	font-weight: bold;
}
button.more {
	color: white;
}
button.more.red {
	background-color: #ed1c24;
}
button.more.blue {
	background-color: #05254d;
}
h2 {
	font-size: 2.4em;
}
.flex_container {
	display: flex;
}
.overlay {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

#info {
	position: fixed;
	z-index: 6;
	display: block;
	width: 100%;
	background-color: #fff;

	p {
		text-align: center;
		font-size: 1em;
	}

	img {
		position: absolute;
		display: block;
		top: 30%;
		right: 1%;
		width: 25px;
		height: 25px;
		cursor: pointer;
	}
}


button#sidebar_menu {
	display: none;
}
aside {
	display: none;
}


header {
	color: white;
	height: 1000px;
	background-image: url("../files/header/background.png");
	background-size: cover;

	#header_nav {
		position: fixed;
		z-index: 4;
		width: 100%;
		display: flex;
		justify-content: space-between;
		background-color: #ed242e;

		#search, #user {
			padding: 0 2%;
			background-color: #00132b;

			img {
				filter: invert(100%) sepia(63%) saturate(0%) hue-rotate(65deg) brightness(105%) contrast(101%);
				width: 16px;
				margin-top: 100%;
			}
		}

		ul {
			display: flex;
			justify-content: center;
			width: 100%;
			list-style: none;

			li {
				padding: 1px 2%;

				a {
					color: white;
					text-decoration: none;
				}

				a:hover {
					color: #ddd;
				}
			}
		}
	}

	#header_title {
		display: inline-block;
		position: relative;
		left: 20%;
		top: 33%;

		h1 {
			font-size: 4.5em;
			line-height: 1;
			margin-block-start: 0;
			margin-block-end: 0;
		}

		.flex_container {
			button#about_button {
				color: #00132b;
				margin-left: 3%;
			}
		}
	}
}


#about_corona {
	position: relative;
	z-index: 2;
	top: -115px;
	width: 80%;
	margin: auto;
	border-radius: 50px;
	padding: 5% 60px;
	padding-top: 7%;
	background-color: white;
	box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);

	.flex_container {
		justify-content: space-evenly;

		.text_and_button {
			h3 {
				margin-block-start: 0;
				margin-block-end: 0.2em;
				font-size: 2.5em;
			}

			p {
				margin-block-start: 3em;
				margin-block-end: 1.5em;
			}

			hr {
				width: 10%;
				margin: 0;
				border-top: 7px solid #ed242e;
				border-radius: 10px;
			}

			button.more {
				font-weight: bold;
			}
		}

		.image {
			img {
				height: 45vh;
			}
		}
	}
}


#symptoms {
	width: 70%;
	margin: auto;
	margin-bottom: 80px;
	overflow: auto;

	.flex_container {
		align-items: center;

		.image > img {
			height: 350px;
			margin-right: 50px;
		}

		.text_and_button {
			width: 50%;

			h2 {
				width: 50%;
				line-height: 1;
			}

			button.more.blue {
				margin-top: 30px;
				padding: 3% 10%;
			}
		}
	}
}


#protection {
	margin-bottom: 80px;

	#protection_title {
		text-align: center;
		
		h2, p {
			margin-block-start: 0;
			margin-block-end: 0;
		}

		h2 {
			font-size: 3em;
		}
	}

	#protection_methods {
		background-image: url("../files/protect.png");
		background-size: cover;
		background-position: 40% 0;
		background-repeat: no-repeat;
		width: 90%;
		height: 820px;
		margin: 2% auto;
		border-radius: 200px;
		position: relative;

		.overlay {
			background-color: #00132b;
			opacity: 0.5;
			border-radius: 200px;
		}

		.flex_container {
			justify-content: space-between;
			width: 80%;
			margin: auto;
			position: relative;
			z-index: 2;

			div {
				margin: 0 1%;
				margin-top: 10%;
				text-align: center;

				.content {
					height: 400px;
					border-radius: 15px;
					padding: 5% 4%;
					padding-top: 15%;
					background-color: white;
					color: black;

					.flex_container {
						flex-direction: column;
						width: 100%;
						margin: 0;

						.image_container, .text_container {
							margin: 0;
						}

						.text_container > button.more.red, .text_container > button.more.blue {
							display: none;
						}
					}
				}

				br + button.more {
					padding: 5% 8%; 
				}
			}
		}
	}
}





#cases {
	width: 90%;
	margin: auto;
	margin-bottom: 80px;

	h2, p {
		text-align: center;
		margin-block-start: 0;
		margin-block-end: 0;
	}

	h2 {
		font-size: 3em;
	}

	p {
		width: 60%;
		margin: auto;
	}

	.flex_container {
		justify-content: space-between;
		margin-top: 3%;

		#case_1, #case_2, #case_3 {
			width: 32.5%;
			padding: 1%;
			box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);

			.image_and_button {
				height: 200px;
				background-size: cover;
				position: relative;
			}
		}

		#case_1 > .image_and_button {
			background-image: url("../files/cases/1.png");
		}
		#case_2 > .image_and_button {
			background-image: url("../files/cases/2.png");
		}
		#case_3 > .image_and_button {
			background-image: url("../files/cases/3.png");
		}

		.text {
			text-align: center;
			margin-top: 30px;

			h3 {
				margin-block-end: 0;
				text-align: center;
				font-size: 1.6em;
				line-height: 0.2;
			}

			p {
				width: 100%;
				margin: initial;
				margin-block-start: 1em;
				margin-block-end: 1em;
				margin-top: 20px;
			}
		}

		button {
			margin: 20% 0 0 30%;
		}
	}
}



#doctors {
	width: 70%;
	margin: auto;
	margin-bottom: 80px;

	h2 {
		padding-bottom: 60px;
		text-align: center;
	}

	.flex_container > .doctor {
		height: 375px;
		margin: 10px 1%;
		padding: 2% 4%;
		box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
		text-align: center;

		.content {
			position: relative;
			top: -75px;

			.text_container > h3 {
				font-size: 1.4em;
			}
		}

		.content:after {
			content: "â";
			font-size: 5em;
		}
	}
}

#keep_updated {
	h2 {
		text-align: center;
	}

	#form_container {
		position: relative;
		background-image: url("../files/news_background.png");
		background-repeat: no-repeat;
		background-position: 30% 0;
		background-size: cover;

		form {
			text-align: center;

			#input_container {
				position: relative;

				input {
					background-color: transparent;
					color: white;
					width: 80%;
					margin-top: 60px;
					border: 1px solid white;
					border-radius: 40px;
					padding: 25px 20px;
				}

				#error_tooltip {
					position: absolute;
					z-index: 3;
					left: 5%;
					top: 100%;
					width: 350px;
					padding: 10px 0;
					border-radius: 5px;
					background-color: #E85C5C;
					color: #000;
					text-align: center;
					font-size: 1.2em;
					font-weight: bold;
				}

				#error_tooltip::after {
					content: "";
					position: absolute;
					bottom: 100%;
					left: 50%;
					margin-left: -15px;
					border-width: 15px;
					border-style: solid;
					border-color: transparent transparent #E85C5C transparent;
				}
			}

			::placeholder {
				color: white;
			}

			button {
				background-color: #0a264a;
				color: white;
				font-weight: bold;
				margin: 40px 0;
				border: none;
				border-radius: 25px;
				padding: 20px 80px;
				cursor: pointer;
			}
		}

		div#subscription_success {
			padding: 4.25% 0;
			color: #fff;

			h3 {
				text-align: center;
				font-size: 2.8em;
			}
		}
	}
}


footer {
	background-color: black;
	color: white;

	.flex_container {
		justify-content: space-between;
		width: 80%;
		margin: auto;
		padding: 25px 0;

		div {
			margin: 0 2%;
		}

		div#resources > p {
			margin-block-start: 0;
			margin-block-end: 0.5em;

			a {
				text-decoration: none;
				color: white;
			}
		}

		div#about {
			width: 30%;
		}

		div#contacts > ul {
			padding-inline-start: 16px;
		}
	}
}