@media screen and (max-width: 400px) {
	body {
		font-size: 18px;
	}


	header {
		height: 165vh;
		margin-bottom: 10%;
	}
	button#sidebar_menu {
		display: block;
		z-index: 3;
		position: absolute;
		left: 5%;
		top: 4%;
		border: none;
		background-color: transparent;
	}
	button#sidebar_menu > img {
		filter: invert(100%) sepia(63%) saturate(0%) hue-rotate(65deg) brightness(105%) contrast(101%);
		width: 36px;
	}
	header > nav {
		display: none;
	}
	header > .logo {
		top: 2.8%;
		left: 40%;
	}
	#logo_text {
		width: 220px;
	}
	header > #sign_up_button {
		display: none;
	}
	header > .flex_container {
		flex-direction: column;
	}
	#first_flex {
		width: 90vw;
		margin-top: 35%;
	}
	#first_flex > h1 {
		font-size: 2.5em;
	}
	#first_flex > .flex_container {
		flex-direction: column;
	}
	#buy_button, #trial_button {
		width: 60%;
		margin: 0;
		padding: 20px 0;
	}
	#trial_button {
		margin-top: 4%;
	}
	#second_flex {
		width: 90vw;
		height: 40vh;
		margin: 44% 0 0 5%;
	}
	#second_flex > div#video_overlay {
		width: 70px;
		height: 70px;
		border-radius: 5px;
		background-color: #061e37;
		position: absolute;
		left: 40%;
		top: 38%;
	}


	aside {
		display: block;
		position: fixed;
		z-index: 3;
		top: 0;
		width: 100%;
		height: 105vh;
	}
	aside.hidden {
		display: none;
	}
	aside.visible {
		display: block;
	}
	aside > .overlay {
		background-color: #000;
		opacity: 0.5;
	}
	#aside_content {
		position: relative;
		z-index: 2;
		width: 65%;
		height: 100%;
		padding: 10% 4%;
		background-color: #000;
	}
	#aside_content.hidden {
		left: -9999px;
	}
	#aside_content.visible {
		left: 0;
	}
	#aside_content > #sign_up_button {
		padding: 10px 40px;
	}
	#aside_content > ul {
		margin-block-start: 1em;
		margin-block-end: 1em;
		padding-inline-start: 0;
		list-style: none;
	}
	#aside_content > ul > li {
		padding: 6% 0;
		font-size: 1.4em;
	}
	#aside_content > ul > li > a {
		color: #fff;
		text-decoration: none;
	}


	.title {
		width: 100%;
	}
	.title > h2, .title > h3, .title > p {
		margin-block-start: 3%;
		margin-block-end: 3%;
	}
	.title > h2 {
		font-size: 2em;
	}
	.title > h3 {
		font-size: 1.4em;
	}


	#advantages {
		flex-direction: column;
	}
	#advantages > div {
		width: 100%;
		margin: 8% 0;
	}
	#easy_and_useful > #get_started {
		margin-bottom: 15%;
	}


	#counters > .flex_container {
		flex-wrap: wrap;
		margin-bottom: 15%;
	}
	#counters > .flex_container > div {
		width: 50%;
	}
	.counter_content {
		width: 38vw;
		margin: 8% 15%;
		margin-right: 0;
	}


	.list_element {
		width: 90%;
		margin-bottom: 3%;
	}
	.list_element_content > p {
		line-height: 1.4;
	}
	.list_element.active > .list_element_content {
		flex-direction: column;
	}


	#feedback {
		height: auto;
		padding-left: 2%;
	}
	#feedback > .flex_container {
		flex-direction: column;
	}
	#title_and_button {
		width: 100%;
		margin: 0;
	}
	#title_and_button > h2 {
		margin-block-start: 0.5em;
		margin-block-end: 0.5em;
	}
	#title_and_button > button {
		margin: 5% 0;
	}
	#users {
		width: 100%;
	}
	.user_comment {
		width: 70%;
		margin-left: 5%;
	}
	.user_comment > p {
		font-size: 0.9em;
	}


	#team_members {
		width: 98%;
		margin-left: 2%;
	}
	#team_members > img {
		margin: 3%;
	}
	#team_members > img.active {
		transform: scale(1.25);
	}
	#team_member_bio {
		width: 98%;
		margin: 4% auto;
	}
	#team_member_socials {
		width: 50%;
		text-align: center;
	}

	form > div {
		display: flex;
		flex-direction: column;
		width: 89%;
		margin: auto;
		padding: 2% 0;
	}
	form > div > span {
		display: none;
	}
	input:not([type="checkbox"]) {
		width: 100%;
	}
	form > textarea {
		width: 88.5%;
		padding: 2.5%;
	}
	input[type="submit"] {
		margin-top: 5%;
		padding: 3% 15%;
	}
	.error_tooltip {
		display: none;
	}
	#contact_success {
		font-size: 1.6em;
	}
	#contact_success > h2 {
		padding-block-start: 30%;
	}
	#contact_success > h3 {
		padding-block-end: 30%;
	}


	footer > .flex_container > .logo {
		padding-top: 10%;
	}
	footer > .flex_container > nav {
		display: none;
	}
	footer > .flex_container > ul > li {
		display: block;
		margin-bottom: 5%;
	}
	footer > .flex_container > ul > li:nth-child(odd)::after {
		display: none;
	}
	footer > .flex_container > div#company_socials {
		width: 50%;
		margin-right: 20px;
	}
}