/* IcoFont seems to be corrupted or something, browser can't seem to render it properly. :( */
@font-face {
	font-family: "IcoFont";
	font-weight: normal;
	src:
		url("../fonts/icofont/icofont.woff2") format("woff2"),
		url("../fonts/icofont/icofont.woff") format("woff");
}

* {
	box-sizing: border-box;
}
body {
	font-size: 20px;
	padding: 0;
	margin: 0;
}
button {
	cursor: pointer;
}
#sign_up_button {
	background-color: transparent;
	color: white;
	border: 1px solid white;
	border-radius: 2px;
}
.flex_container {
	display: flex;
}
.overlay {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}


#info {
	position: fixed;
	z-index: 4;
	display: block;
	width: 100%;
	background-color: #fff;
}
#info > p {
	text-align: center;
	font-size: 1em;
}
#info > img {
	position: absolute;
	display: block;
	top: 30%;
	right: 1%;
	width: 25px;
	height: 25px;
	cursor: pointer;
}


header {
	color: white;
	height: 900px;
	background-image: url("../files/header/header_background.png");
	background-size: cover;
	position: relative;
}
header > div.overlay {
	background: radial-gradient(farthest-corner at 0px 0px, #2ee2c4, #1bc3d6);
	opacity: 0.6;
}
button#sidebar_menu {
	display: none;
}
.logo, nav, button {
	display: inline-block;
	position: relative;
	z-index: 2;
}
header > .logo {
	left: 4%;
	top: 5%;
}
.logo > img {
	float: left;
	padding-right: 10px;
}
#logo_text {
	width: 250px;
}
.logo:after {
	content: '';
	position: absolute;
	clear: both;
}
header > nav {
	width: 35%;
	left: 20%;
	top: 3%;
	padding: 10px 0;
}
nav > a {
	color: white;
	text-decoration: none;
	margin: 10px 25px;
}
nav > a:hover {
	color: black;
}
header > #sign_up_button {
	left: 41%;
	top: 2%;
	padding: 5px 20px;
}
header > .flex_container {
	justify-content: space-between;
}
#first_flex {
	position: relative;
	z-index: 2;
	margin-top: 12%;
	margin-left: 4%;
	width: 30vw;
}
#first_flex > h1 {
	margin-block-start: 0;
	margin-block-end: 0;
	font-size: 3em;
}
#first_flex > p {
	line-height: 1.5;
}
#buy_button, #trial_button {
	font-weight: bold;
	margin: 10px 15px;
	border: none;
	border-radius: 5px;
	padding: 15px 25px;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.6);
	cursor: pointer;
}
#buy_button {
	background-color: #061e37;
	color: #fff;
	margin-left: 0;
}
#trial_button {
	background-color: #fff;
	margin-right: 0;
}
#second_flex {
	width: 40vw;
	margin-top: 10%;
	margin-right: 6%;
	border: 2px solid black;
	background-image: url("../files/header/video_preview.png");
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	z-index: 2;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.6);
	cursor: pointer;
}
#second_flex > div.overlay {
	background: rgba(255, 255, 255, 0.6);
}
#second_flex > div#video_overlay {
	width: 70px;
	height: 70px;
	border-radius: 5px;
	background-color: #061e37;
	position: absolute;
	left: 44%;
	top: 40%;
}
div#video_overlay:after {
	content: '▶';
	font-size: 2em;
	position: absolute;
	left: 32%;
	top: 21%;
}
#second_flex:hover > div#video_overlay {
	background-color: #0a3b6e;
}


aside {
	display: none;
}


.title {
	text-align: center;
	width: 36%;
	margin: 4% auto;
}
.title > h2, .title > h3, .title > p {
	margin-block-start: 2%;
	margin-block-end: 2%;
}
.title > h2 {
	font-size: 2em;
}
.title > p {
	margin-bottom: 8%;
}
.title > h3, .title > p {
	color: #8C9499;
}


#advantages {
	width: 90%;
	display: flex;
	justify-content: space-between;
	margin: auto;
}
#advantages > div {
	width: 18%;
	text-align: center;
}
#advantages > div > p {
	color: #819097;
}
div#first > h2, div#second > h2, div#third > h2 {
	font-family: IcoFont;
	font-size: 3em;
	margin-block-start: 0;
	margin-block-end: 0;
}
div#first > h2 {
	color: #b388ff;
}
div#second > h2 {
	color: #80d8ff;
}
div#third > h2 {
	color: #ea80fc;
}
#easy_and_useful > #get_started {
	display: flex;
	justify-content: center;
	align-content: center;
	text-align: center;
	margin: 3% auto;
	margin-bottom: 5%;
	border: none;
	border-radius: 5px;
	padding: 15px 30px;
	background-color: #1de9b6;
	color: #fff;
	font-weight: bold;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.6);
}


#counters > .flex_container {
	justify-content: center;
	margin-bottom: 3%;
}
.flex_container > div {
	width: 25%;
}
div#business {
	background-color: #80d8ff;
}
div#downloads {
	background-color: #82b1ff;
}
div#free {
	background-color: #b388ff;
}
div#pro {
	background-color: #ea80fc;
}
.counter_content {
	width: 10vw;
	margin: 8% 30%;
	margin-right: 0;
	color: white;
	font-weight: bold;
}
.counter_content > img {
	float: left;
	height: 36px;
	margin-right: 10px;
	border-radius: 50%;
	padding: 7px;
	background-color: white;
}
.counter_content:after {
	content: '';
	position: absolute;
	clear: both;
}


.list_element {
	width: 48%;
	margin: auto;
	margin-bottom: 1%;
	border-radius: 10px;
	padding: 5px 20px;
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
}
.list_element_title {
	display: flex;
	justify-content: space-between;
	font-weight: bold;
	cursor: pointer;
}
.list_element_content {
	display: none;
	padding-top: 5px;
	padding-bottom: 15px;
}
.list_element_content > img {
	border-radius: 10px;
	margin-right: 20px;
}
.list_element.active > .list_element_content {
	display: flex;
	justify-content: space-between;
}


#feedback {
	margin: 6% 0;
	color: white;
	background-image: url("../files/feedback/background.png");
	background-size: cover;
	background-position: center center;
	position: relative;
}
#feedback > div.overlay {
	background: radial-gradient(at 0% 30%, #27e6bc 30%, #10c0d3);
	opacity: 0.9;
}
#feedback > .flex_container {
	position: relative;
	z-index: 2;
}
#title_and_button {
	width: 40%;
	margin: 5%;
}
#title_and_button > h2 {
	font-size: 3em;
}
#title_and_button > button {
	background-color: #061e37;
	color: white;
	margin: 10% 0;
	border: none;
	border-radius: 5px;
	padding: 15px 30px;
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
}
#users {
	width: 65%;
}
#users > .user {
	display: flex;
	align-items: center;
	margin: 10% 0;
}
.user > img {
	height: 50%;
}
.user > .user_comment {
	width: 70%;
	margin-left: 5%;
	border-radius: 8px;
	padding: 10px 25px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	background-color: white;
	color: black;
}
.user_comment > p {
	color: #8C9499;
}


#team_members {
	width: 30.5%;
	margin: 3% auto;
	padding: 0;
}
#team_members > img {
	border-radius: 50%;
	margin: 4% 8%;
	opacity: 0.5;
	cursor: pointer;
	transition: 0.2s all;
}
#team_members > img:hover {
	opacity: 0.8;
	transform: scale(1.1);
}
#team_members > img.active {
	transform: scale(1.5);
	opacity: 1;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}
#team_member_bio {
	text-align: center;
	width: 40%;
	margin: 4% auto;
	margin-bottom: 2%;
}
#team_member_bio > p {
	color: #8C9499;
}
#team_member_socials {
	width: 5%;
	margin: auto;
	margin-bottom: 2%;
}
#team_member_socials > a {
	padding: 0 5%;
}
#team_member_socials > a > img {
	opacity: 0.3;
}


#contact_form {
	background-color: #fafafa;
}
#contact_form > .title {
	padding-top: 2%;
}
#contact_form > form {
	text-align: center;
}
input:not([type="checkbox"]), form > textarea {
	width: 48%;
	border: 2px solid black;
	border-radius: 6px;
	padding: 3%;
	margin: 1%;
	margin-top: 0;
}
form {
	padding-bottom: 6%;
}
form > textarea {
	width: 30.4%;
	height: 250px;
	padding: 1%;
}
form > div {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 31%;
	margin: auto;
}
form > div > button {
	background-color: #1de9b6;
	color: white;
	border: none;
	border-radius: 6px;
	padding: 2% 5%;
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
	cursor: pointer;
}
.error_tooltip {
	position: absolute;
	z-index: 3;
	top: 4%;
	width: 270px;
	padding: 10px 0;
	border-radius: 4px;
	background-color: #E85C5C;
	color: #000;
	text-align: center;
	font-size: 1em;
	font-weight: bold;
}
.error_tooltip.first {
	left: -48.5%;
}
.error_tooltip.second {
	left: 102.5%;
}
.error_tooltip::after {
	content: "";
	position: absolute;
	margin-left: -15px;
	border-width: 20px;
	border-style: solid;
}
.error_tooltip.first::after {
	left: 105.4%;
	top: 4%;
	border-color: transparent transparent transparent #E85C5C;
}
.error_tooltip.second::after {
	left: -8.7%;
	top: 4%;
	border-color: transparent #E85C5C transparent transparent;
}
.invalid {
	background-color: #E5898E;
}
#contact_success {
	text-align: center;
	font-size: 1.4em;
}
#contact_success > h2, #contact_success > h3 {
	padding: 0.2em 0;
}
#contact_success > h2 {
	margin-block-end: 0;
	padding-block-start: 4%;
}
#contact_success > h3 {
	margin-block-start: 0;
	padding-block-end: 14%;
}


footer {
	background-color: #061e37;
	color: white;
	height: 200px;
}
footer > .flex_container {
	justify-content: space-between;
	align-items: center;
	width: 90%;
	margin: auto;
}
footer > .flex_container > .logo, footer > .flex_container > nav {
	margin-top: 5%;
}
footer > .flex_container > nav > a:hover {
	color: #aaa;
}
footer > .flex_container > ul {
	width: 400px;
}
footer > .flex_container > ul > li {
	display: inline-block;
	padding-right: 15px;
}
footer > .flex_container > ul > li > a {
	text-decoration: none;
	color: #838f9b;
}
footer > .flex_container > ul > li:nth-child(odd)::after {
	content: "•";
	padding-left: 15px;
}
footer > .flex_container > div#company_socials {
	width: auto;
	margin-right: 20px;
}