@media screen and (max-width: 550px) {
	body {
		font-size: 16px;
	}
	h2 {
		font-size: 2.2em;
	}
	.section_seperator {
		width: 80%;
		margin-top: 10%;
	}
	.section_seperator > p {
		top: -35px;
	}
	section + .section_seperator {
		margin-top: 10%;
	}


	#info > p {
		width: 86%;
		margin: auto;
		font-size: 1em;
	}
	#info > img {
		top: 30%;
	}


	#sidebar {
		display: none;
	}
	button#sidebar_menu {
		display: block;
		position: absolute;
		z-index: 3;
		left: 5%;
		top: 2.5%;
		border: none;
		background-color: transparent;
	}
	button#sidebar_menu > img {
		filter: invert(100%) sepia(63%) saturate(0%) hue-rotate(65deg) brightness(105%) contrast(101%);
		width: 36px;
	}
	#login_section {
		right: 20px;
	}
	#content > .text_and_button {
		width: 85%;
	}


	aside {
		display: block;
		position: fixed;
		z-index: 3;
		top: 0;
		width: 100%;
		height: 105vh;
	}
	aside.hidden {
		display: none;
	}
	aside.visible {
		display: block;
	}
	aside > .overlay {
		background-color: #000;
		opacity: 0.5;
	}
	#aside_content {
		position: fixed;
		z-index: 2;
		width: 70%;
		height: 100%;
		background-color: #191919;
	}
	#aside_content.hidden {
		left: -100%;
	}
	#aside_content.visible {
		left: 0;
	}
	#logo {
		display: block;
	}
	#logo > img {
		display: block;
		width: 100%;
		margin: auto;
		padding: 0;
	}


	#content {
		background-size: cover;
	}
	#content > .text_and_button {
		padding-top: 100px;
	}
	#content > .text_and_button > h1 {
		width: auto;
		padding: 15px 0;
		color: #fff;
		font-size: 3.6em;	
	}
	#content > .text_and_button > p {
		font-size: 1em;
	}


	#about > img {
		width: 80%;
	}
	#about > p {
		width: 90%;
	}
	#about > button {
		margin: 20px auto;
	}


	.happy_couple.desktop {
		display: none;
	}
	.happy_couple.phone {
		display: block;
	}
	.happy_couple.phone > h2, .happy_couple.phone > p {
		text-align: center;
	}
	.happy_couple.phone > h2 {
		margin-top: 45px;
	}
	.happy_couple.phone > p {
		line-height: 1.6;
		margin-top: 10px;
	}
	.happy_couple.phone > .flex_container {
		justify-content: space-between;
		margin: auto;
		padding-top: 20px;
	}
	#prev_photo, #next_photo {
		width: 9vw;
		height: 8vh;
		margin: auto;
		border: none;
		border-radius: 10px;
		font-size: 3em;
		background-color: #fc3e59;
		color: #fff;
	}
	#photo_container {
		width: 70vw;
		height: 50vh;
	}
	#photo_container > img {
		width: 100%;
		height: 100%;
		object-fit: contain;
	}


	#story {
		margin-top: 10%;
	}
	#story_content {
		width: 100%;
	}
	#story_content > .text_and_button {
		width: 100%;
		margin: 0;
		padding: 60px 20px;
	}
	#story_content > .text_and_button > h2 {
		font-size: 2.4em;
	}
	#story_image_container {
		display: none;
	}


	#form_section {
		width: 90%;
		margin-top: 8%;
	}
	#form_section > h2 {
		text-align: center;
	}
	#form_section > .container {
		display: block;
	}
	#form_section > img {
		margin: auto;
	}
	input {
		width: 100%;
		margin: 25px 0;
	}
	.error_tooltip {
		display: none;
	}
	.invalid {
		background-color: #E5898E;
	}
	#form_image_container {
		display: none;
	}
	#contact_success {
		text-align: center;
		padding: 100px 30px;
	}


	#feedback > .flex_container {
		width: 100%;
		padding: 0 10px;
		flex-direction: column;
	}
	.couple {
		width: 90%;
		height: auto;
		margin: auto;
		padding: 5px;
		background: linear-gradient(0deg, rgba(0,0,0,0) 85%, rgba(232,61,86,1) 85%);
	}
	.couple.second {
		margin: 5%;
	}
	.couple > img {
		width: 100px;
		height: 100px;
	}
	.couple > h3 {
		width: 80%;
		margin: auto;
		margin-top: 25px;
		font-size: 1.8em;
	}


	footer {
		padding-bottom: 25px;
	}
	footer > img {
		width: 100px;
		padding: 30px 0;
	}
	footer > h2 {
		padding-bottom: 20px;
		font-size: 2em;
	}
	footer > ul {
		padding-inline-start: 0;
	}
	footer > ul > li {
		width: 90%;
		margin: 10px 0;
	}
}